<!--
  Generated template for the WeatherDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Weather Details</ion-title>
  </ion-navbar>

</ion-header>



<ion-content class="{{bgImg}}" >

    
      
        <div class="card-title-black" *ngIf="todayWeather == 'Clouds' ">
            {{weather['dt'] *1000 | date: 'dd'}} {{weather['dt'] *1000 | date: 'MMM'}} {{weather['dt'] *1000 | date:'yyyy'}} ({{weather['dt'] *1000 | date:'EE'}})
          
            <span style="font-size:0.5em;text-transform:capitalize;display:block;font-weight:normal">{{weatherDescription}}</span>
        </div>
        <p class="card-subtitle-black" *ngIf="todayWeather == 'Clouds' ">
          <br>
          Day Temperature: {{dayTemperature}}
          <br>
          Evening Temperature: {{eveTemperature}}
          <br>
          Night Temperature: {{nightTemperature}}
          <br><br>
          Humidity: {{Humidity}}
          <br>
          Pressure: {{Pressure}}
          <br>
          Wind Speed: {{Speed}}

        </p>

        
        <div class="card-title" *ngIf="todayWeather == 'Rain' " >
            {{weather['dt'] *1000 | date: 'dd'}} {{weather['dt'] *1000 | date: 'MMM'}} {{weather['dt'] *1000 | date:'yyyy'}} ({{weather['dt'] *1000 | date:'EE'}})
          
          <span style="font-size:0.5em;text-transform:capitalize;display:block;font-weight:normal">{{weatherDescription}}</span>
        </div>
        <p class="card-subtitle" *ngIf="todayWeather == 'Rain' ">
            
            <br>
            Day Temperature: {{dayTemperature}}
            <br>
            Evening Temperature: {{eveTemperature}}
            <br>
            Night Temperature: {{nightTemperature}}
            <br><br>
            Humidity: {{Humidity}}
            <br>
            Pressure: {{Pressure}}
            <br>
            Wind Speed: {{Speed}}
        </p>

      
        
        <div class="card-title" *ngIf="todayWeather == 'Clear' ">
            {{weather['dt'] *1000 | date: 'dd'}} {{weather['dt'] *1000 | date: 'MMM'}} {{weather['dt'] *1000 | date:'yyyy'}} ({{weather['dt'] *1000 | date:'EE'}})
          
            <span style="font-size:0.8em;text-transform:capitalize;display:block;font-weight:normal">{{weatherDescription}}</span>
        </div>
        <p class="card-subtitle" *ngIf="todayWeather == 'Clear' ">
            <br>
            Day Temperature: {{dayTemperature}}
            <br>
            Evening Temperature: {{eveTemperature}}
            <br>
            Night Temperature: {{nightTemperature}}
            <br><br>
            Humidity: {{Humidity}}
            <br>
            Pressure: {{Pressure}}
            <br>
            Wind Speed: {{Speed}}
        </p>
  
    
  
  
  </ion-content>

