<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card (click)="details(weather)">
        <img *ngIf="todayWeather == 'Clouds' " src="https://jesscliftonphotography.files.wordpress.com/2014/01/fluffy-white-clouds.jpg" style="object-fit: cover"/>
        <div class="card-title-black" *ngIf="todayWeather == 'Clouds' ">Today Weather</div>
        <div class="card-subtitle-black" *ngIf="todayWeather == 'Clouds' ">{{weatherDescription}}</div>

        <img *ngIf="todayWeather == 'Rain' " src="https://i.pinimg.com/originals/4d/a7/b1/4da7b1650d441c0c8e71186ebcb5246a.jpg"/>
        
        <div class="card-title" *ngIf="todayWeather == 'Rain' ">Today Weather</div>
        <div class="card-subtitle" *ngIf="todayWeather == 'Rain' ">{{weatherDescription}}</div>

        <img *ngIf="todayWeather == 'Clear' " src="https://s-media-cache-ak0.pinimg.com/originals/65/19/a2/6519a2cc0abd1ef74bfc72e90c848214.jpg"/>
        
        <div class="card-title" *ngIf="todayWeather == 'Clear' ">Today Weather</div>
        <div class="card-subtitle" *ngIf="todayWeather == 'Clear' ">{{weatherDescription}}</div>

        
    </ion-card>
  <h2>Your Street : {{street}} </h2>
  <img src="{{googleStreetView}}" style="height:50%;width:100%" > 
  
  <!-- <div #map id="map"></div> -->
</ion-content>
